@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }


    .intro-content {
    margin-top: 95px;
    font-family: 'Lobster', cursive;
    color: #54ccb2;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 3px 3px 8px #4620af;
}

.intro-content h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-contact {
    text-align: center;
}

.btn-contact a, a:visited {
    with position: fixed;
    font-family: "bebas neue", sans-serif;
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #e23198;
    color: azure;
    text-decoration: none;
    border: 3px solid;
    padding: 10px 20px; 
    border-radius: 15px;
}

.btn-contact a:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: #e23198;
    text-shadow: 4px 4px 8px #b6b0b8ea;
    box-shadow: rgb(226, 49, 152) 2px -1px 9px 3px;
    transform: scale(1.1);
}
h6 {
    text-align: center;
    max-width: 65%;
    font-family: 'Lobster', cursive;
    color: #54ccb2;
    font-size: 3.5rem;
    text-shadow: 3px 3px 8px #4620af;
    margin: auto;
}
p {
    margin-bottom: 150px;
}
.galerie {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 100px;
    padding-bottom: 150px;
    margin: 70px auto 0;
}

.item img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(29, 27, 27, 0.719);
    color: rgb(181, 236, 236);
    text-shadow: 2px 1px 6px cyan;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

    
}

.footer li{
    display: inline-block;
    margin: 0 20px;
    padding: 0;
    font-size: 3rem;
    text-align: center;
    
}

.footer li a :hover {
    color: rgb(17,5,29);
    transition: 0.2s;
}
}

.zoom {
    width: 380px;
    height: 380px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}
.zoom p{
    text-align: center;
}
.zoom img {
    width: 200px;
    height: 267px;
}
.zoom img:hover {
width: 380px;
height: 380px;
}